/* Style for Whole Website  */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
}


.btn-primary {
  display: inline-flex;
  padding: 20px 43px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: #e55473;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  border: none;
}

.section-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

.section-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
/* navigation Related Styles  */
nav {
  display: flex;
  justify-content: center;
  margin: 0 170px;
}
/* imidiate child  */

nav > ul {
  display: flex;
}
/* imidiate na  */
nav li {
  list-style: none;
  margin-right: 50px;
}

/* Nav er bethor er anchor */
nav a {
  text-decoration: none;
  color: darkcyan;
}

/* Heading Related Style  */
.header {
  background-color: #e554731a;
}

.content {
  padding: 0 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-items {
  max-width: 600px;
}
.content .main-pic {
  width: 500px;
}
.content-title {
  font-size: 80px;
  font-weight: 800;
  margin-bottom: 30px;
}
.content-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
}

/* feature section  */
.feature {
  background-color: #fff;
  margin: 170px;
}
.cover-box {
  justify-content: center;
  display: flex;
}
.cover {
  width: 464px;
  height: 538px;

  display: flex;
  justify-content: center;
  gap: 30px;
}
.box {
  margin: 10px;
  /* width: 500px;
height: 200px; */
  margin-top: 10px;
  padding: 67px 75px;
  box-shadow: -1px 0 10px #000000;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
  border-radius: 300px 300px 0px 0px;
  background-color: rgba(167, 33, 98, 0.15), rgba(71, 125, 17, 0.15),
    rgba(5, 151, 160, 0.15);
}
.box-img {
  width: 314px;
  height: 400px;
  display: flex;
}

/* Facilities */
.facilities-container {
  width: 1440px;
  height: 320px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  gap: 100px;

  align-items: center;
  display: flex;
  margin: 240px;
  justify-content: center;
}

.facilities {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
}

.facilities-img {
  width: 88px;
  height: 88px;
}

/* Hot deals  */
.hot-deals-container {
  background-color: #e554730d;
  border-radius: 8px;
  justify-content: space-between;
  padding: 200px 400px;
  Rectangle 6
width: 1922px;
height: 620px;
}

.hot-deals {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.hot-deal-description {
  width: 594px;
  flex-direction: column;
  color: #27272799;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 20px;
  display: flex;
}
.hot-deal-content {
  justify-content: space-between;
  text-align: center;
  display: flex;
  width: 500px;
  height: 420px;
  align-items: center;
  gap: 100px;
}

/* social media  */

.social-media{
    display:inline ;
    text-align: center;
    align-items: center;
    margin: 130px 240px;
}

.social-media-description{
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-top: 20px;
margin-bottom: 50px;
}

.lates-deals{
    width: 1440px;
height: 449px;
margin: 130px 240px;
border-radius: 8px;
background-color: pink;
padding: 30px;
background-image: url(../Rectangle\ 9.png);
background-repeat: no-repeat;
}

.latest-deal-content{
    text-align: center;
    align-items: center;
    margin: 130px;
}
.latest-deal-description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-top:20px ;
margin-bottom: 50px;
}
input{
    width: 700px;
height: 64px;
}

/* Footer  */
.footer-container{
    width: 1922px;
height: 449px;
background-color: #111010;
padding: 100px;
padding-top: 50px;

}
.footer-title{
    color: #E55473;
font-size: 48px;
font-weight: 800;
text-align: center;
}
.footer-description{
    color:#FFFFFFE5;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
.footer-copywrite{
    color: #FFFFFF66;
text-align: center;
font-size: 16px;
font-weight: 400;
}